.movie__row td {
  border-bottom: 1px solid lightgray;
  padding: 10px 0;
}

.movie__row img {
  height: 150px;
  width: 150px;
  /* object-fit: contain; */
}
.movie__delete {
  cursor: pointer;
  color: red;
}
.movie__view {
  cursor: pointer;
  color: blue;
}
