* {
  margin: 0;
  padding: 0;
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
}

.myoverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}
.modal__input > input {
  width: 100%;
  outline: none;
  border: 1px solid lightslategray;
  height: 30px;
  padding: 5px;
  border-radius: 999px;
  margin: 15px 0;
}
.modal__button {
  margin-top: 40px;
}
button {
  background-color: red;
  color: white;
  padding: 10px 20px;
  outline: none;
  border: 0;
  margin: 0 10px;
  border-radius: 999px;
  cursor: pointer;
}
